<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button @click="add(10)">Add 10</button>
      <button @click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
      <input v-model="name" />
      <input v-model="lastName" />
      <button @click="resetInput">Reset Input</button>
      <!--
        Vue는 v-bind, v-on에 의해 묶여 있는 함수를 제외한
        모든 함수를 실행한다.
        따라서 페이지 리로드 혹은 다른 함수 실행 시 아래 함수도
        실행되는데, 이는 성능 면에서 좋지 않음.
      -->
      <!-- <p>Your Name: {{ outputFullname() }}</p> -->

      <!-- 
        methods의 메소드 호출과는 다르게
        computed 메소드 호출 시 괄호 없이 그냥 가리키기만 하면 됨(마치 프로퍼티처럼)
       -->
      <p>Your Name: {{ fullname }}</p>
    </section>
  </body>
</html>
